server:
  port: 8090

userNotificationMessageJson: ""

cron:
  startSendBrukerBeskjed: 0 30 09 19 DEC ?

management:
  endpoint:
    health:
      show-details: always
  endpoints.web:
      exposure:
        include: info, health, metrics, prometheus
      base-path: "/internal"
  metrics:
    export:
      prometheus:
        enabled: true
    web:
      server:
        request:
          autotime:
            enabled: true

---
spring:
  config:
    activate:
      on-profile: prod | dev

  security:
    oauth2:
      resourceserver:
        jwt:
          token-uri: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}
          issuer-uri: ${AZURE_OPENID_CONFIG_ISSUER}
          jwk-set-uri: ${AZURE_OPENID_CONFIG_JWKS_URI}
          audiences: ${AZURE_APP_CLIENT_ID}

userNotificationMessageJson: ${SEND_MESSAGE_TO_USERS}
status_log_url: ${STATUS_LOG_URL}

kafkaconfig:
  namespace: ${NAIS_NAMESPACE}
  secure: ${KAFKA_SECURITY}
  schemaRegistryUsername: ${KAFKA_SCHEMA_REGISTRY_USER}
  schemaRegistryPassword: ${KAFKA_SCHEMA_REGISTRY_PASSWORD}
  schemaRegistryUrl: ${KAFKA_SCHEMA_REGISTRY}
  kafkaBrokers: ${KAFKA_BROKERS}
  truststorePath: ${KAFKA_TRUSTSTORE_PATH}
  keystorePath: ${KAFKA_KEYSTORE_PATH}
  credstorePassword: ${KAFKA_CREDSTORE_PASSWORD}

  mainTopic: ${KAFKA_MAIN_TOPIC}
  metricsTopic: ${KAFKA_METRICS_TOPIC}
  brukernotifikasjonDoneTopic: ${KAFKA_BRUKERNOTIFIKASJON_DONE_TOPIC}
  brukernotifikasjonBeskjedTopic: ${KAFKA_BRUKERNOTIFIKASJON_BESKJED_TOPIC}
  brukernotifikasjonOppgaveTopic: ${KAFKA_BRUKERNOTIFIKASJON_OPPGAVE_TOPIC}
  utkastTopic: ${KAFKA_UTKAST_TOPIC}
  nologinSubmissionTopic: ${KAFKA_NOLOGIN_SUBMISSION_TOPIC}


---
spring:
  config:
    activate:
      on-profile: docker

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:${token.server.port}/azuread
          audiences: aud-localhost
          jwk-set-uri: http://localhost:${token.server.port}/azuread/.well-known/openid-configuration

token:
  server:
    port: 1888

status_log_url: "https://logs.adeo.no"

kafkaconfig:
  namespace: ${NAIS_NAMESPACE}
  secure: ${KAFKA_SECURITY}
  schemaRegistryUsername: ${KAFKA_SCHEMA_REGISTRY_USER}
  schemaRegistryPassword: ${KAFKA_SCHEMA_REGISTRY_PASSWORD}
  schemaRegistryUrl: ${KAFKA_SCHEMA_REGISTRY}
  kafkaBrokers: ${KAFKA_BROKERS}
  truststorePath: ${KAFKA_TRUSTSTORE_PATH}
  keystorePath: ${KAFKA_KEYSTORE_PATH}
  credstorePassword: ${KAFKA_CREDSTORE_PASSWORD}

  mainTopic: ${KAFKA_MAIN_TOPIC:privat-soknadinnsending-v1-dev}
  metricsTopic: ${KAFKA_METRICS_TOPIC:privat-soknadinnsending-metrics-v1-dev}
  brukernotifikasjonDoneTopic: ${KAFKA_BRUKERNOTIFIKASJON_DONE_TOPIC:min-side.aapen-brukernotifikasjon-done-v1}
  brukernotifikasjonBeskjedTopic: ${KAFKA_BRUKERNOTIFIKASJON_BESKJED_TOPIC:min-side.aapen-brukernotifikasjon-beskjed-v1}
  brukernotifikasjonOppgaveTopic: ${KAFKA_BRUKERNOTIFIKASJON_OPPGAVE_TOPIC:min-side.aapen-brukernotifikasjon-oppgave-v1}
  nologinSubmissionTopic: ${KAFKA_NOLOGIN_SUBMISSION_TOPIC:privat-soknadinnsending-nologin-submission-v1-dev}

---
spring:
  config:
    activate:
      on-profile: default | test

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:${token.server.port}/azuread
          audiences: aud-localhost
          jwk-set-uri: http://localhost:${token.server.port}/azuread/.well-known/openid-configuration

token:
  server:
    port: 1888

status_log_url: "https://logs.adeo.no"

kafkaconfig:
  namespace: default
  secure: FALSE
  schemaRegistryUsername: user
  schemaRegistryPassword: pass
  schemaRegistryUrl: http://localhost:8081
  kafkaBrokers: localhost:29092
  truststorePath: path
  keystorePath: path
  credstorePassword: pass

  mainTopic: ${KAFKA_MAIN_TOPIC:privat-soknadinnsending-v1-dev}
  metricsTopic: ${KAFKA_METRICS_TOPIC:privat-soknadinnsending-metrics-v1-dev}
  brukernotifikasjonDoneTopic: ${KAFKA_BRUKERNOTIFIKASJON_DONE_TOPIC:min-side.aapen-brukernotifikasjon-done-v1}
  brukernotifikasjonBeskjedTopic: ${KAFKA_BRUKERNOTIFIKASJON_BESKJED_TOPIC:min-side.aapen-brukernotifikasjon-beskjed-v1}
  brukernotifikasjonOppgaveTopic: ${KAFKA_BRUKERNOTIFIKASJON_OPPGAVE_TOPIC:min-side.aapen-brukernotifikasjon-oppgave-v1}
  nologinSubmissionTopic: ${KAFKA_NOLOGIN_SUBMISSION_TOPIC:privat-soknadinnsending-nologin-submission-v1-dev}

